{% extends 'website/base.html' %}
{% load static %}

{% block title %}
SuaveManta | About
{% endblock title %}

{% block main %}
 <!--=====================================
        BREADCRUMB START
    =====================================-->
    <section class="breadcrumb_area" style="background: url({% static 'images/about.webp' %});">
        <div class="breadcrumb_overlay">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb_text">
                            <h1>About Us</h1>
                            <ul>
                                <li><a href="#"><i class="fas fa-home"></i> home</a></li>
                                <li><a href="#">about us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=====================================
        BREADCRUMB END
    =====================================-->


    <!--=====================================
        ABOUT US START
    =====================================-->
    <section class="about_page">
        <div class="about_page_welcome mt_120 xs_mt_70">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 wow fadeInUp" data-wow-duration="1s">
                        <div class="about_page_welcome_img">
                            <img src="{% static 'images/about_welcome_img.jpg' %}" alt="welcome" class="img-fluid w-100">
                            <div class="call_area wow fadeInLeft" data-wow-duration="1s">
                                <h4>Maria <span>( CEO Of SuaveManta )</span></h4>
                                <div class="call d-flex flex-wrap">
                                    <i class="fas fa-phone-alt"></i>
                                    <p>Call For Booking Appointment Date : <span>+5999-5150313</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 wow fadeInUp" data-wow-duration="1s">
                        <div class="about_page_welcome_text">
                            {% comment %} <h2>Welcome To Our Bonfax Spa Salon!!</h2> {% endcomment %}
                            <h2>{{ about_page.head_message_1|safe }}</h2>
                            <p>{{ about_page.head_message_1_paragraph_1|safe }}</p>
                            <ul>
                                <li>Nemo enim ipsam volup quia</li>
                                <li>sed do eiusmod temporin</li>
                                <li>quis nostrum exercitatione</li>
                                <li>Duis aute irure dolorinrep</li>
                            </ul>
                            <p>consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore etdolore Ut enim
                                ad
                                minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat.</p>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                                nulla
                                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                deserunt
                                mollit anim id est laborum.</p>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusant doloremque
                                laudantium
                                totam rem aperiam eaque ipsa quae ab illo inve veritatis et quasi architecto beatae
                                vitae
                                dicta sunt explicabo Nemo eni
                                mipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="about_page_about mt_120 xs_mt_70">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-xl-5 col-lg-6 col-md-10 wow fadeInUp" data-wow-duration="1s">
                        <div class="about_page_about_img">
                            <div class="img_1">
                                <img src="{% static 'images/about_page_img_1.jpg' %}" alt="about" class="img-fluid w-100">
                            </div>
                            <div class="img_2">
                                <img src="{% static 'images/about_page_img_2.jpg' %}" alt="about" class="img-fluid w-100">
                            </div>
                            <p>20+
                                <span>Years Of Experience</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 wow fadeInUp" data-wow-duration="1s">
                        <div class="about_page_about_text_area">
                            <div class="section_heading heading_left mb_25">
                                <h5>About Us</h5>
                                <h3>Best Way To Care Your Skin</h3>
                            </div>
                            <div class="about_page_about_text">
                                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur autt odit aut fugit sed quia
                                    consequuntur magni dolores.</p>
                                <ul>
                                    <li>
                                        <h3>Skin & Body Care</h3>
                                        <p>Nemo enim ipsam voluptatem into quia voluptas sit enim into Nemo enim ipsam
                                            voluptatem into quia voluptas sit enim into.</p>
                                    </li>
                                    <li>
                                        <h3>Spa Massage Therapy</h3>
                                        <p>Nemo enim ipsam voluptatem into quia voluptas sit enim into Nemo enim ipsam
                                            voluptatem into quia voluptas sit enim into.</p>
                                    </li>
                                </ul>
                                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur autt odit aut fugit sed quia
                                    consequuntur magni dolores Nemo enim ipsam voluptatem quia voluptas sit aspernatur
                                    autt
                                    odit aut fugit sed quia consequuntur magni dolores.</p>
                                <a href="#" class="common_btn">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mission mt_120 xs_mt_65">
            <div class="row">
                <!-- <div class="col-xl-6 col-xxl-5 col-lg-7 col-md-9 m-auto wow fadeInUp" data-wow-duration="1s">
                    <div class="mission_text">
                        <h3>Our Mission Promotional Video</h3>
                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia
                            consequuntur magni dolores eos qui ratione voluptatem sequi</p>
                    </div>
                </div> -->
                <div class="col-12">
                    <div class="mission_video_area" style="background: url({% static 'images/mission_bg.png' %});">
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-8 m-auto wow fadeInUp" data-wow-duration="1s">
                                    <div class="mission_video">
                                        <img src="{% static 'images/mission_video_img.jpg' %}" alt="mission" class="img-fluid w-100">
                                        <a class="venobox play_btn" data-autoplay="true" data-vbtype="video"
                                            href="https://youtu.be/xsnCYCEbdr4">
                                            <i class="fas fa-play"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="vission mt_120 xs_mt_70">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 wow fadeInUp" data-wow-duration="1s">
                        <div class="section_heading heading_left mb_25">
                            <h5>Our Vision</h5>
                            <h3>Most Popular Spa Lab</h3>
                        </div>
                        <div class="vission_text">
                            <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quama nihil
                                molestiae
                                consequatur vel illum qui dolorem eum fugiat quo voluptasi nulla pariatur But I must
                                explain
                                to you how all this mistaken i dolorem eum fugiat quo voluptasi nulla pariatur But I
                                must
                                explain to you how all this mistaken.</p>
                            <ul>
                                <li>Created From Natural herbs- Ginseng Roots Extract</li>
                                <li>Created By Medical Professionals Of Spa Lab</li>
                                <li>Quality Product From Spalabs</li>
                                <li>Created By Medical Professionals Of Spa Lab</li>
                                <li>Created From Natural herbs- Ginseng Roots Extract</li>
                                <li>Created By Medical Professionals Of Spa Lab</li>
                            </ul>
                            <p>tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim venia
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo auteirure dolor
                                in
                                reprehenderit consequat nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                commodo
                                auteirure dolor in .</p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="vission_img">
                            <div class="row">
                                <div class="col-xl-12 wow fadeInUp" data-wow-duration="1s">
                                    <div class="vission_img_large">
                                        <img src="{% static 'images/vision_img_1.jpg' %}" alt="vision" class="img-fluis w-100">
                                    </div>
                                </div>
                                <div class="col-xl-4 col-sm-6 col-md-4 wow fadeInUp" data-wow-duration="1s">
                                    <div class="vission_img_small">
                                        <img src="{% static 'images/vision_img_2.jpg' %}" alt="vision" class="img-fluis w-100">
                                    </div>
                                </div>
                                <div class="col-xl-4 col-sm-6 col-md-4 wow fadeInUp" data-wow-duration="1s">
                                    <div class="vission_img_small">
                                        <img src="{% static 'images/vision_img_3.jpg' %}" alt="vision" class="img-fluis w-100">
                                    </div>
                                </div>
                                <div class="col-xl-4 col-sm-6 col-md-4 wow fadeInUp" data-wow-duration="1s">
                                    <div class="vission_img_small">
                                        <img src="{% static 'images/vision_img_4.jpg' %}" alt="vision" class="img-fluis w-100">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="team mt_115 xs_mt_65">
            <div class="container">
                <div class="row">
                    <div class="col-12 wow fadeInUp" data-wow-duration="1s">
                        <div class="section_heading mb_35">
                            <h5>Our Team</h5>
                            <h3>Our Experience Specialists</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 wow fadeInUp m-auto" data-wow-duration="1s">
                        <div class="single_team">
                            <div class="single_team_img">
                                <img src="{% static 'images/team_img_1.jpg' %}" alt="team" class="img-fluid w-100">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                </ul>
                            </div>
                            <div class="single_team_text">
                                <a class="title" href="team_details.html">Maria</a>
                                <p>Fysio Therapeut and Massager</p>
                            </div>
                        </div>
                    </div>                
                </div>
            </div>
        </div>

        <div class="testimonial mt_115 xs_mt_70">
            <div class="container">
                <div class="row">
                    <div class="col-12 wow fadeInUp" data-wow-duration="1s">
                        <div class="section_heading mb_35">
                            <h5>our testimonial</h5>
                            <h3>What Our Clients Says</h3>
                        </div>
                    </div>
                </div>
                <div class="row testi_slider wow fadeInUp" data-wow-duration="1s">
                    <div class="col-xl-4">
                        <div class="single_testimonial">
                            <div class="single_testimonial_img">
                                <img src="{% static 'images/client_1.jpg' %}" alt="client" class="img-fluid w-100">
                            </div>
                            <div class="single_testimonial_text">
                                <p class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </p>
                                <p class="cliect_comment">
                                    Duis aute irure dolor in reprehenderit into volupjl
                                    tate velit esse cillum dolore eu fugiat nulla partr
                                    iatur sunt in culp qui officia deserunt mollit
                                </p>
                                <h3 class="title">Courtney Henry</h3>
                                <p class="designation">Sr. UX/UI Designer</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="single_testimonial">
                            <div class="single_testimonial_img">
                                <img src="{% static 'images/client_2.jpg' %}" alt="client" class="img-fluid w-100">
                            </div>
                            <div class="single_testimonial_text">
                                <p class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </p>
                                <p class="cliect_comment">
                                    Duis aute irure dolor in reprehenderit into volupjl
                                    tate velit esse cillum dolore eu fugiat nulla partr
                                    iatur sunt in culp qui officia deserunt mollit
                                </p>
                                <h3 class="title">Rishmika Lane</h3>
                                <p class="designation">Software Engineer</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="single_testimonial">
                            <div class="single_testimonial_img">
                                <img src="{% static 'images/client_3.jpg' %}" alt="client" class="img-fluid w-100">
                            </div>
                            <div class="single_testimonial_text">
                                <p class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </p>
                                <p class="cliect_comment">
                                    Duis aute irure dolor in reprehenderit into volupjl
                                    tate velit esse cillum dolore eu fugiat nulla partr
                                    iatur sunt in culp qui officia deserunt mollit
                                </p>
                                <h3 class="title">Letitia Shelton</h3>
                                <p class="designation">Content Writter</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="single_testimonial">
                            <div class="single_testimonial_img">
                                <img src="{% static 'images/client_2.jpg' %}" alt="client" class="img-fluid w-100">
                            </div>
                            <div class="single_testimonial_text">
                                <p class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </p>
                                <p class="cliect_comment">
                                    Duis aute irure dolor in reprehenderit into volupjl
                                    tate velit esse cillum dolore eu fugiat nulla partr
                                    iatur sunt in culp qui officia deserunt mollit
                                </p>
                                <h3 class="title">Rishmika Lane</h3>
                                <p class="designation">Software Engineer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=====================================
        ABOUT US END
    =====================================-->
{% endblock %}