{% extends 'website/base.html' %}

{% load static %}

{% block title %}
  SuaveMante | Home
{% endblock %}

{% block main %}
  <!-- ===================================== BANNER START ===================================== -->
  <section class="banner">
    <div class="row banner_slider">
      <div class="col-12">
        <div class="single_slider" style="background: url({% static 'images/suave_bed2.jpeg' %});">
          <div class="container">
            <div class="row">
              <div class="col-xl-6 col-md-8">
                <div class="single_slider_text wow fadeInUp" data-wow-duration="1s">
                  <h5>welcome To Our Spa Salon</h5>
                  <h1>Grow Up Your Skin With The Power Of Natural <span>Service!!</span></h1>
                  <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmt mod tempor incididunt ut labore et dolore magna aliqua.</p>
                  <ul class="d-flex flex-wrap">
                    <li>
                      <a class="common_btn" href="#">get started</a>
                    </li>
                    <li>
                      <a class="venobox play_btn" data-autoplay="true" data-vbtype="video" href="https://youtu.be/xsnCYCEbdr4"><i class="fas fa-play"></i></a>
                      <span>Intro Video</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="single_slider" style="background: url({% static 'images/suave_bed2.jpeg' %});">
          <div class="container">
            <div class="row">
              <div class="col-xl-6 col-md-8">
                <div class="single_slider_text wow fadeInUp" data-wow-duration="1s">
                  <h5>welcome To Our Spa Salon</h5>
                  <h1>Glow Your Face And Vitality With Our Best <span>Service!!</span></h1>
                  <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmt mod tempor incididunt ut labore et dolore magna aliqua.</p>
                  <ul class="d-flex flex-wrap">
                    <li>
                      <a class="common_btn" href="#">get started</a>
                    </li>
                    <li>
                      <a class="venobox play_btn" data-autoplay="true" data-vbtype="video" href="https://youtu.be/xsnCYCEbdr4"><i class="fas fa-play"></i></a>
                      <span>Intro Video</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="single_slider" style="background: url({% static 'images/suave_bed2.jpeg' %});">
          <div class="container">
            <div class="row">
              <div class="col-xl-6 col-md-8">
                <div class="single_slider_text wow fadeInUp" data-wow-duration="1s">
                  <h5>welcome To Our Spa Salon</h5>
                  <h1>Make Your Look Even More Perfect With Our <span>Salon.</span></h1>
                  <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmt mod tempor incididunt ut labore et dolore magna aliqua.</p>
                  <ul class="d-flex flex-wrap">
                    <li>
                      <a class="common_btn" href="#">get started</a>
                    </li>
                    <li>
                      <a class="venobox play_btn" data-autoplay="true" data-vbtype="video" href="https://youtu.be/xsnCYCEbdr4"><i class="fas fa-play"></i></a>
                      <span>Intro Video</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ===================================== BANNER END ===================================== -->

  <!-- ===================================== FUTURED SERVICES START  ===================================== -->
  <section class="futured_services mt_115 xs_mt_70">
    <div class="container">
      <div class="row">
        <div class="col-xl-7 col-md-10 m-auto wow fadeInUp" data-wow-duration="1s">
          <div class="section_heading mb_50 xs_mb_55">
            <h5>What We're Offering</h5>
            <h3>For Your Future Services</h3>
          </div>
        </div>
      </div>
      <div class="row futured_slider wow fadeInUp" data-wow-duration="1s">
        <div class="col-xl-3">
          <div class="featured_service_single">
            <span><i class="fas fa-user-shield"></i></span>
            <h3>Spa Membership</h3>
            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia .</p>
          </div>
        </div>
        <div class="col-xl-3">
          <div class="featured_service_single">
            <span><i class="fas fa-restroom"></i></span>
            <h3>Referal Program</h3>
            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia .</p>
          </div>
        </div>
        <div class="col-xl-3">
          <div class="featured_service_single">
            <span><i class="fas fa-gift"></i></span>
            <h3>Gifts Certificates</h3>
            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia .</p>
          </div>
        </div>
        <div class="col-xl-3">
          <div class="featured_service_single">
            <span><i class="fas fa-comment-dots"></i></span>
            <h3>Give Us a Feed Back</h3>
            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia .</p>
          </div>
        </div>
        <div class="col-xl-3">
          <div class="featured_service_single">
            <span><i class="fas fa-restroom"></i></span>
            <h3>Referal Program</h3>
            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia .</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ===================================== FUTURED SERVICES END ===================================== -->

  <!-- ===================================== ABOUT START ===================================== -->
  <section class="about mt_120 xs_mt_70">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-md-10 col-lg-6 wow fadeInUp" data-wow-duration="1s">
          <div class="row">
            <div class="col-12">
              <div class="section_heading heading_left mb_25">
                <h5>About Us</h5>
                <h3>Welcome to SuaveManta</h3>
              </div>
            </div>
            <div class="col-12">
              <div class="about_text">
                <div class="about_text_center">
                  <p>Therapeutic massages and physiotherapy personalized rehabilitation...private space...thinking about the client's privacy</p>
                  <div class="about_text_center_user d-flex flex-wrap">
                    <div class="about_text_center_user_img">
                      <img src="{% static 'images/about_small_img.png' %}" alt="about" class="img-fluid w-100" />
                    </div>
                    <div class="about_text_center_user_text">
                      <h3>David Smith <span>(CEO Of Banfax Spa Salon)</span></h3>
                      <div class="about_text_center_user_call d-flex flex-wrap">
                        <span><i class="fas fa-phone-alt"></i></span>
                        <p>
                          Call For Booking Appointment details: <a href="callto:1234567890">+5999-5150313</a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla .</p>
                <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <a class="common_btn mt_25" href="{% url 'about' %}">Read More</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 wow fadeInUp" data-wow-duration="1s">
          <div class="about_img">
            <a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/xsnCYCEbdr4"><i class="fas fa-play"></i></a>
            <img src="{% static 'images/about_img_1.jpg' %}" alt="about us" class="img-fluid-100 large_img_1" />
            <img src="{% static 'images/about_img_2.jpg' %}" alt="about us" class="img-fluid-100 large_img_2" />
            <img src="{% static 'images/about_img_3.jpg' %}" alt="about us" class="img-fluid-100 large_img_3" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ===================================== ABOUT END ===================================== -->

  <!-- ===================================== CATEGORIES START ===================================== -->
  <section class="categories mt_115 xs_mt_70">
    <div class="container">
      <div class="row">
        <div class="col-xl-7 col-lg-8 col-md-10 m-auto wow fadeInUp" data-wow-duration="1s">
          <div class="section_heading mb_35">
            <h5>Top Categories</h5>
            <h3>Explore Categories</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-3 col-sm-6 col-lg-4 wow fadeInUp" data-wow-duration="1s">
          <div class="single_categories">
            <span><img src="{% static 'images/category_icon_1.png' %}" alt="category" class="img-fluid w-100" /></span>
            <h4>Aroma Therapy</h4>
            <p>Lorem ipsum dolor sit amet consectetur into adipiscing elit</p>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-lg-4 wow fadeInUp" data-wow-duration="1s">
          <div class="single_categories">
            <span><img src="{% static 'images/category_icon_2.png' %}" alt="category" class="img-fluid w-100" /></span>
            <h4>Sauna Relax</h4>
            <p>Lorem ipsum dolor sit amet consectetur into adipiscing elit</p>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-lg-4 wow fadeInUp" data-wow-duration="1s">
          <div class="single_categories">
            <span><img src="{% static 'images/category_icon_3.png' %}" alt="category" class="img-fluid w-100" /></span>
            <h4>Facials</h4>
            <p>Lorem ipsum dolor sit amet consectetur into adipiscing elit</p>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-lg-4 wow fadeInUp" data-wow-duration="1s">
          <div class="single_categories">
            <span><img src="{% static 'images/category_icon_4.png' %}" alt="category" class="img-fluid w-100" /></span>
            <h4>Mineral Baths</h4>
            <p>Lorem ipsum dolor sit amet consectetur into adipiscing elit</p>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-lg-4 wow fadeInUp" data-wow-duration="1s">
          <div class="single_categories">
            <span><img src="{% static 'images/category_icon_5.png' %}" alt="category" class="img-fluid w-100" /></span>
            <h4>Body Treatments</h4>
            <p>Lorem ipsum dolor sit amet consectetur into adipiscing elit</p>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-lg-4 wow fadeInUp" data-wow-duration="1s">
          <div class="single_categories">
            <span><img src="{% static 'images/category_icon_6.png' %}" alt="category" class="img-fluid w-100" /></span>
            <h4>Waxing</h4>
            <p>Lorem ipsum dolor sit amet consectetur into adipiscing elit</p>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-lg-4 wow fadeInUp" data-wow-duration="1s">
          <div class="single_categories">
            <span><img src="{% static 'images/category_icon_7.png' %}" alt="category" class="img-fluid w-100" /></span>
            <h4>Massage</h4>
            <p>Lorem ipsum dolor sit amet consectetur into adipiscing elit</p>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-lg-4 wow fadeInUp" data-wow-duration="1s">
          <div class="single_categories">
            <span><img src="{% static 'images/category_icon_8.png' %}" alt="category" class="img-fluid w-100" /></span>
            <h4>Geothermal Spa</h4>
            <p>Lorem ipsum dolor sit amet consectetur into adipiscing elit</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ===================================== CATEGORIES END ===================================== -->

  <!-- ===================================== SERVICES START ===================================== -->
  <section class="services mt_115 xs_mt_70" style="background: url(images/background_shapes.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-xl-7 col-lg-8 col-md-10 wow fadeInUp" data-wow-duration="1s">
          <div class="section_heading heading_left mb_35">
            <h5>Our Services</h5>
            <h3>Explore Popular Services</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 wow fadeInUp" data-wow-duration="1s">
          <div class="services_item">
            <div class="services_img">
              <img src="{% static 'images/service_img_1.jpg' %}" alt="services" class="img-fluid w-100" />
              <a href="#"><i class="fas fa-heart"></i></a>
            </div>
            <div class="services_text">
              <a class="title" href="service_details.html">Facial Therapy</a>
              <p>Duis aute irure dolor in reprehenderit into volupjl tate velit esse cillum dolore eu fugiat nulla partr iatur sunt in culp qui officia deserunt mollit</p>
              <ul>
                <li>
                  <i class="fas fa-play"></i> 5 Sessions
                </li>
                <li>
                  <i class="fas fa-user"></i> 291 Clients
                </li>
              </ul>
              <div class="services_btn_area">
                <a class="read_btn" href="service_details.html">read more</a>
                <p>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <span>240</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 wow fadeInUp" data-wow-duration="1s">
          <div class="services_item">
            <div class="services_img">
              <img src="{% static 'images/service_img_2.jpg' %}" alt="services" class="img-fluid w-100" />
              <a href="#"><i class="fas fa-heart"></i></a>
            </div>
            <div class="services_text">
              <a class="title" href="service_details.html">Candle Message</a>
              <p>Duis aute irure dolor in reprehenderit into volupjl tate velit esse cillum dolore eu fugiat nulla partr iatur sunt in culp qui officia deserunt mollit</p>
              <ul>
                <li>
                  <i class="fas fa-play"></i> 5 Sessions
                </li>
                <li>
                  <i class="fas fa-user"></i> 145 Clients
                </li>
              </ul>
              <div class="services_btn_area">
                <a class="read_btn" href="service_details.html">read more</a>
                <p>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <span>98</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 wow fadeInUp" data-wow-duration="1s">
          <div class="services_item">
            <div class="services_img">
              <img src="{% static 'images/service_img_3.jpg' %}" alt="services" class="img-fluid w-100" />
              <a href="#"><i class="fas fa-heart"></i></a>
            </div>
            <div class="services_text">
              <a class="title" href="service_details.html">Stone Spa</a>
              <p>Duis aute irure dolor in reprehenderit into volupjl tate velit esse cillum dolore eu fugiat nulla partr iatur sunt in culp qui officia deserunt mollit</p>
              <ul>
                <li>
                  <i class="fas fa-play"></i> 5 Sessions
                </li>
                <li>
                  <i class="fas fa-user"></i> 44 Clients
                </li>
              </ul>
              <div class="services_btn_area">
                <a class="read_btn" href="service_details.html">read more</a>
                <p>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <span>20</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 wow fadeInUp" data-wow-duration="1s">
          <div class="services_item">
            <div class="services_img">
              <img src="{% static 'images/service_img_4.jpg' %}" alt="services" class="img-fluid w-100" />
              <a href="#"><i class="fas fa-heart"></i></a>
            </div>
            <div class="services_text">
              <a class="title" href="service_details.html">Body Treatments</a>
              <p>Duis aute irure dolor in reprehenderit into volupjl tate velit esse cillum dolore eu fugiat nulla partr iatur sunt in culp qui officia deserunt mollit</p>
              <ul>
                <li>
                  <i class="fas fa-play"></i> 5 Sessions
                </li>
                <li>
                  <i class="fas fa-user"></i> 49 Clients
                </li>
              </ul>
              <div class="services_btn_area">
                <a class="read_btn" href="service_details.html">read more</a>
                <p>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <span>38</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 wow fadeInUp" data-wow-duration="1s">
          <div class="services_item">
            <div class="services_img">
              <img src="{% static 'images/service_img_5.jpg' %}" alt="services" class="img-fluid w-100" />
              <a href="#"><i class="fas fa-heart"></i></a>
            </div>
            <div class="services_text">
              <a class="title" href="service_details.html">Aroma Therapy</a>
              <p>Duis aute irure dolor in reprehenderit into volupjl tate velit esse cillum dolore eu fugiat nulla partr iatur sunt in culp qui officia deserunt mollit</p>
              <ul>
                <li>
                  <i class="fas fa-play"></i> 5 Sessions
                </li>
                <li>
                  <i class="fas fa-user"></i> 621 Clients
                </li>
              </ul>
              <div class="services_btn_area">
                <a class="read_btn" href="service_details.html">read more</a>
                <p>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <span>485</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 wow fadeInUp" data-wow-duration="1s">
          <div class="services_item">
            <div class="services_img">
              <img src="{% static 'images/service_img_6.jpg' %}" alt="services" class="img-fluid w-100" />
              <a href="#"><i class="fas fa-heart"></i></a>
            </div>
            <div class="services_text">
              <a class="title" href="service_details.html">Sauna Relax</a>
              <p>Duis aute irure dolor in reprehenderit into volupjl tate velit esse cillum dolore eu fugiat nulla partr iatur sunt in culp qui officia deserunt mollit</p>
              <ul>
                <li>
                  <i class="fas fa-play"></i> 5 Sessions
                </li>
                <li>
                  <i class="fas fa-user"></i> 257 Clients
                </li>
              </ul>
              <div class="services_btn_area">
                <a class="read_btn" href="service_details.html">read more</a>
                <p>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <span>203</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="common_btn" href="{% url 'services' %}">All Services</a>
    </div>
  </section>
  <!-- ===================================== SERVICES END ===================================== -->

  <!-- ===================================== WHY CHOOSE START ===================================== -->
  <section class="why_choose mt_115 xs_mt_70">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-xl-5 col-lg-6 col-md-10 wow fadeInUp" data-wow-duration="1s">
          <div class="section_heading heading_left mb_25">
            <h5>Why Choose Us</h5>
            <h3>Why Choose SuaveManta</h3>
          </div>
          <div class="why_choose_text">
            <p>Excepteur sint occaecat cupidatat non proident,sunt inculpk qui officia deserunt mollit anim id est laborum.sed do eiusmod.</p>
            <ul>
              <li>
                <h4>Qualified Staff</h4>
                <span>Duis aute irure dolor in Cillumr reprehenderit in voluptate.</span>
              </li>
              <li>
                <h4>Relax Zones</h4>
                <span>Duis aute irure dolor in Cillumr reprehenderit in voluptate.</span>
              </li>
              <li>
                <h4>Variety Of Care</h4>
                <span>Duis aute irure dolor in Cillumr reprehenderit in voluptate.</span>
              </li>
              <li>
                <h4>Herbal Product</h4>
                <span>Duis aute irure dolor in Cillumr reprehenderit in voluptate.</span>
              </li>
            </ul>
            <a class="common_btn mt_25" href="#">read more</a>
          </div>
        </div>
        <div class="col-xl-7 col-lg-6 col-sm-8 col-md-8 col-xxl-6 wow fadeInUp" data-wow-duration="1s">
          <div class="why_choose_img">
            <div class="large_img">
              <img src="{% static 'images/why_choose_img_1.jpg' %}" alt="why choose" class="img-fluid w-100" />
            </div>
            <div class="small_img">
              <img src="{% static 'images/why_choose_img_2.jpg' %}" alt="why choose" class="img-fluid w-100" />
            </div>
            <a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/xsnCYCEbdr4"><i class="fas fa-play"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ===================================== WHY CHOOSE END ===================================== -->
    

  <!-- ===================================== TEAM START ===================================== -->
  <section class="team mt_115 xs_mt_65">
    <div class="container">
      <div class="row">
        <div class="col-xl-7 col-md-10 m-auto wow fadeInUp" data-wow-duration="1s">
          <div class="section_heading mb_35">
            <h5>Our Team</h5>
            <h3>Our Experience Specialists</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-4 col-sm-6 col-lg-4 wow fadeInUp m-auto" data-wow-duration="1s">
          <div class="single_team">
            <div class="single_team_img">
              <img src="{% static 'images/team_img_1.jpg' %}" alt="team" class="img-fluid w-100" />
              <ul>
                <li>
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-pinterest-p"></i></a>
                </li>
              </ul>
            </div>
            <div class="single_team_text">
              <a class="title" href="team_details.html">Maria</a>
              <p>Fysio Therapeut and Massager</p>
            </div>
          </div>
        </div>
     
  </section>
  <!-- ===================================== TEAM END ===================================== -->

  <!-- ===================================== TESTIMONIAL START ===================================== -->
  <section class="testimonial mt_115 xs_mt_70">
    <div class="container">
      <div class="row">
        <div class="col-xl-7 col-md-10 m-auto wow fadeInUp" data-wow-duration="1s">
          <div class="section_heading mb_35">
            <h5>our testimonial</h5>
            <h3>What Our Clients Says</h3>
          </div>
        </div>
      </div>
      <div class="row testi_slider wow fadeInUp" data-wow-duration="1s">
        <div class="col-xl-4">
          <div class="single_testimonial">
            <div class="single_testimonial_img">
              <img src="{% static 'images/client_1.jpg' %}" alt="client" class="img-fluid w-100" />
            </div>
            <div class="single_testimonial_text">
              <p class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </p>
              <p class="cliect_comment">Duis aute irure dolor in reprehenderit into volupjl tate velit esse cillum dolore eu fugiat nulla partr iatur sunt in culp qui officia deserunt mollit</p>
              <h3 class="title">Courtney Henry</h3>
              <p class="designation">Sr. UX/UI Designer</p>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="single_testimonial">
            <div class="single_testimonial_img">
              <img src="{% static 'images/client_2.jpg' %}" alt="client" class="img-fluid w-100" />
            </div>
            <div class="single_testimonial_text">
              <p class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </p>
              <p class="cliect_comment">Duis aute irure dolor in reprehenderit into volupjl tate velit esse cillum dolore eu fugiat nulla partr iatur sunt in culp qui officia deserunt mollit</p>
              <h3 class="title">Rishmika Lane</h3>
              <p class="designation">Software Engineer</p>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="single_testimonial">
            <div class="single_testimonial_img">
              <img src="{% static 'images/client_3.jpg' %}" alt="client" class="img-fluid w-100" />
            </div>
            <div class="single_testimonial_text">
              <p class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </p>
              <p class="cliect_comment">Duis aute irure dolor in reprehenderit into volupjl tate velit esse cillum dolore eu fugiat nulla partr iatur sunt in culp qui officia deserunt mollit</p>
              <h3 class="title">Letitia Shelton</h3>
              <p class="designation">Content Writter</p>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="single_testimonial">
            <div class="single_testimonial_img">
              <img src="{% static 'images/client_2.jpg' %}" alt="client" class="img-fluid w-100" />
            </div>
            <div class="single_testimonial_text">
              <p class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </p>
              <p class="cliect_comment">Duis aute irure dolor in reprehenderit into volupjl tate velit esse cillum dolore eu fugiat nulla partr iatur sunt in culp qui officia deserunt mollit</p>
              <h3 class="title">Rishmika Lane</h3>
              <p class="designation">Software Engineer</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ===================================== TESTIMONIAL END ===================================== -->

{% endblock %}
I